{% extends 'knights/base.html' %}
    {% block content %}

    <div class="container displayreview">
        <h3>Knight Name: {{knight.name}} {{ knight.title }}</h3>
        <h5>Wins: {{knight.winner_matches.count}}</h5>
        <h5>Losses: {{knight.loser_matches.count}}</h5>
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center text-nowrap">ID #</th>
                    <th scope="col">Opponent</th>
                    <th scope="col">Result</th>
                    <th scope="col">Date</th>
                    
                </tr>
            </thead>
            <tbody>
                
                {% for match in matches %}
                <tr>
                    <th scope="row">{{ match.id }}</th>
                    {% if match.winner.id == knight.id %}
                    <td class="text-nowrap">
                        <a href="/knight/{{match.loser.id}}">{{ match.loser.name }}</a></td>
                    <td class="text-nowrap">Win</td>
                    {% endif %}
                    {% if match.loser.id == knight.id %}
                    <td class="text-nowrap">
                        <a href="/knight/{{match.winner.id}}">{{ match.winner.name }}</a></td>
                    <td class="text-nowrap">loss</td>
                    {% endif %}
                    <td class="text-nowrap cdate">{{ match.created_at|date:"M dS, Y" }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        
    </div>
    

    {% endblock %}